{{#collection 'ember-sortable' content=firstList moved="firstListMoved" group=firstListGroup}}
  {{this}}
{{/collection}}

[
{{#each firstList as |item| }}
  {{item}}
{{/each}}
]

<hr/>

{{#collection 'ember-sortable' content=secondList handle='.handle'}}
  <span class="handle">++++</span> {{this}}
{{/collection}}